$tiltes: rgb(34, 59, 199);

.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;

}

.title {
  color: $tiltes;
}

.ratings {
  width: 300px;
  // margin-left: -300px;
  // float: left;
  display: inline-block;
  position: relative;
  overflow: visible;
  min-height: 1px;
}

.reviews {
  display: inline-block;
  // float: right;
  position: relative;
  overflow: visible;
  width: 680px;
  min-height: 1px;
}

.starPercent {
  display: inline-block;
  position: relative;
  overflow: visible;
  list-style-type: none;
}

.topimages {
  width: 140px;
  height: 140px;
}
