.modal{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background: white;
  height: 55vh;
  width: 53vw;
  // z-index: 10;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
  // margin-right: 5px;
  background: rgb(239, 239, 239);
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: rgb(197, 197, 197);
}

.closebuttondiv {
  display: flex;
  // justify-content: flex-end;
  // align-self: end;
  margin-right: 5px;
  height: 20px;
  color: gray;
}

.buttonx {
  border: none;
  cursor: pointer;
}

.imagescontainer {
  display: flex;
  justify-content: center;
  // align-items: end;
  align-items: flex-end;
  height: 570px;
}

.allimagesmodal {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  background: white;
  // top: 30%;
  // left: 25%;
  // max-width: 90%;
  // max-height: 520px;
  height: 50vh;
  width: 50vw;
  // position: absolute;
  overflow: scroll;
  // overflow-y: initial;
  position: relative;
  // z-index: 999;
}
