.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: greenyellow;
  height: 55vh;
  width: 55vw;
  // z-index: 10;
}

.allimagesmodal {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: space-around;
  // align-items: center;
  background: white;
  // top: 30%;
  // left: 25%;
  // max-width: 90%;
  // max-height: 520px;
  height: 50vh;
  width: 50vw;
  // position: absolute;
  overflow: scroll;
  // overflow-y: initial;
  position: relative;
  // z-index: 999;
}

.closebutton {
  align-self: end;
}