.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: rgb(197, 197, 197);
}

.ratings {
  max-width: 300px;
  min-width: 300px;
}

.reviews {
  max-width: 680px;
  min-width: 580px;
}
