.topimages {
  width: 140px;
  height: 140px;
  margin-right: 5px;
  cursor: pointer;
}

.reviewimage {
  width: 66px;
  height: 88px;
  padding-right: 2px;
  cursor: pointer;
}

.galleryimage {
  width: 125px;
  height: 125px;
  margin-right: 5px;
  cursor: pointer;
  padding: 5px;
}