.star {
  color: #f0cc00;
  font-size: 20px;
}

.fivestar {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0px 5px 0px;
}

.ratingsummery {
  display: flex;
  align-items: center;
}

.totalratings {
  font-size: 14px;
  color: grey;
}

.staraverage {
  min-width: 120px;
}

.ratingaverage {
  min-width: 100px;
}

.starbars {
  box-sizing: border-box;
  padding-right: 20px;
  font-size: 14px;
  margin: 20px 0px;
}

.starPercentL {
  list-style-type: none;
  flex: 01;
  padding: 0px;
}

.starPercentC {
  list-style-type: none;
  flex: 04;
  padding-left: 20px;
}

.starPercentR {
  list-style-type: none;
  flex: 01;
}

.bottomcomment {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 2fr;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #c5c5c5;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #c5c5c5;
  padding-bottom: 20px;
}

.bottombutton {
  justify-content: center;
  max-width: 295px;
  max-height: 30px;
  cursor: pointer;
}

.barbox {
  background: rgb(239, 239, 239);
  padding: 0px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  margin-bottom: 2px;
}

.barboxfill {
  background: #f0cc00;
  width: 25%;
  height: 12px;
}

.reviewproduct {
  font-size: 18;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

.sharethoughts {
  font-size: 14px;
  margin-bottom: 15px;
}
