.star {
  color: #f0cc00;
  font-size: 20px;
}

.fivestar {
  display: flex;
  flex-direction: column;
}

.ratingsummery {
  display: flex;
  align-items: center;
}

.staraverage {
  min-width: 120px;
}

.ratingaverage {
  min-width: 100px;
}

.starbars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.starPercentL {
  list-style-type: none;
  flex: 01;
  padding: 0px;
}

.starPercentC {
  list-style-type: none;
  flex: 04;
  padding-left: 20px;
}

.starPercentR {
  list-style-type: none;
  flex: 01;
}

.bottomcomment {
  display: flex;
  flex-direction: column;

}

.bottombutton {
  justify-content: center;
  max-width: 295px;
  max-height: 30px;
  cursor: pointer;
}